<dts-select-container
  #container="dts-select-container"
  [(selectedItems)]="selectedDocuments"
  (select)="someMethod($event)"
  [disabled]="disableDragSelection"
>
  <div class="card">
    <p-table
      [value]="products"
      [tableStyle]="{ 'min-width': '50rem' }"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-product let-index="rowIndex">
        <tr
          [dtsSelectItem]="product"
          (click)="disableIfNeeded($event, product)"
          (mousedown)="disableIfNeeded($event, product)"
          cdkDrag
          [cdkDragDisabled]="!product.dragEnabled"
        >
          <td cdkDragHandle>{{ product.code }}</td>
          <td cdkDragHandle>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.quantity }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</dts-select-container>
